/* scrolling */

.scrollable {
  gap: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 8px;
  scroll-snap-type: y mandatory;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}
.scrollable::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 0;
}

